{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="position-index-sign-in">
        {% include 'mainapp/includes/inc_sing_in.html' %}
    </div>
{% endblock %}

{% block content %}
<div class="order-list-view">
   <div class="h2" style="margin-top:20px; text-align:center; margin-bottom: 30px;">
       Ваши заказы, 
       {% if user.first_name %}
           {{ user.first_name|title}}
       {% else %}
           Пользователь
       {% endif %}
   </div>
   <table class="table orders_list" style="text-align:center; border-bottom: 0; width: 900px;">
       <thead>
         <tr>
           <th style="border-bottom: 0;">ID</th>
           <th style="border-bottom: 0;">Создан</th>
           <th style="border-bottom: 0;">Статус</th>
         </tr>
       </thead>
       <tbody>
           {% for item in orders %}
               {% if item.is_active %}
               <tr style="line-height:40px;">
                   <td class="td1 orders_list">{{ item.pk }}</td>
                   <td>{{ item.created|date:"d.m.Y H:i:s" }}</td>
                   <td>{{ item.get_status_display }}</td>
                   <td>
                       <a href="{% url 'ordersapp:order_read' item.pk %}">
                           Просмотр заказа
                       </a>
                   </td>
                   <td>
                         <a href="{% url 'ordersapp:order_delete' item.pk %}">
                             <img src="{% static 'img/trash-empty.png' %}" alt="trash-empty" style="width: 33px"/>
                         </a>
                   </td>
               </tr>
               {% endif %}
           {% endfor %}
       </tbody>
   </table>
</div>
{% endblock %}