{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="login login-auth">
<div class="text-center head text-login">
    Личный кабинет
</div>
    <form class="form-horizontal position-form-auth" action="{% url 'auth:login' %}" method="post" style="width: 300px;">
        {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <a href="{% url 'auth:register' %}" style="text-decoration: none; margin-top: 10px;">Зарегистрироваться</a>
    <a href="{% url 'main' %}" style="text-decoration: none; margin-top: 5px; margin-bottom: 30px;">На главную</a>
</div>
{% endblock %}

