<div class="posiciton-basket-record-conteiner">
    {% for item in basket_items %}
<div class="basket_record">
    <div>
        <a href="{% url 'products:product' item.product.pk %}"><img src="/media/{{ item.product.image }}"
                 alt="{{ item.product.short_desc }}" style="width: 150px; margin-left: 15px; height: 150px;"></a>

    </div>
    <div style="margin-left: 15px; display: flex;">
      <div style="margin-bottom: 15px; width: 200px; justify-content: center;">
          <table>
            <tr>
                <td class="product_name"><b>{{ item.product.name }}</b></td>
            </tr>
            <tr>
                <td class="product_name" style="height: 50px;">{{ item.product.short_desc }}</td>
            </tr>
            <tr>
                <td class="price" style="justify-content: flex-start;">{{ item.product.price }}&nbspруб</td>
            </tr>
        </table>
      </div>
      <div style="display: flex; flex-direction: column;">
         <form action="{% url 'basket:edit' item.pk %}" method="post" style="text-align: center;">
            {% csrf_token %}
            <div class="quantity-block">
                  <button type="button" class="quantity-arrow-minus" style="outline: none;"> - </button>
                  <input  name="name" class="quantity-num" type="number" value="{{ item.quantity }}">
                  <button type="button" class="quantity-arrow-plus" style="outline: none;"> + </button>
            </div>
            <input type="submit" value="Изменить"  class="submit-input-basket" style="margin-top: 13px; width: 96px; height: 31px;">
        </form>
          <form action="{% url 'basket:remove' item.pk %}" method="post" style="text-align: center;">
                {% csrf_token %}
                {{ basket_record.as_p }}
                <input type="submit" value="Удалить" style="width: 100px; margin-top: 15px; color: #0616ee;">
          </form>
      </div>
    </div>
</div>
{% endfor %}
</div>