{% load staticfiles %}

{% if basket|length > 0 %}
<div class="posiciton-basket-record-conteiner">
    {% for item in basket %}
    <div class="basket_record">
        <div>
            <a href="{% url 'products:product' item.product.pk %}">
                <img src="/media/{{ item.product.image }}" alt="{{ item.product.short_desc }}" style="width: 150px; margin-left: 15px; height: 150px;"></a>
        </div>
            <div style="margin-bottom: 15px; width: auto; justify-content: center;">
                <table style="width: 400px;">
                    <tr>
                        <td class="product_name"><b>{{ item.product.name }}</b></td>
                    </tr>
                    <tr>
                        <td class="product_name" style="height: 50px;">{{ item.product.short_desc }}</td>
                    </tr>
                    <tr>
                        <td style="display: flex; justify-content: space-around; align-items: baseline;">
                            <p class="price" style="width: auto;">{{ item.product.price }} &#8381 </p>
                            <p style="font-size: 22px; margin: 0;">&#215;</p>
                                    <div class="quantity-block">
                                        <button type="button" class="quantity-arrow-minus" style="outline: none;"> - </button>
                                        <input  type="number" class="quantity-num" name="{{ item.pk }}"  value="{{ item.quantity }}">
                                        <button type="button" class="quantity-arrow-plus" style="outline: none;"> + </button>
                                        <input type="button" value="Изменить" class="submit-input-basket" style="margin-top: 10px; width: 76px; height: 25px;">
                                    </div>
                            <p style="font-size: 22px; margin: 0;">&#61;</p>
                            <p class="price" style="width: auto;">{{ item.get_product_cost }} &#8381 </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="display: flex; flex-direction: column;">
                <form action="{% url 'basket:remove' item.pk %}" method="post" style="text-align: center;">
                    {% csrf_token %}
                    {{ basket_record.as_p }}
                    <button type="submit" style="background-color: #ffffff; outline: none;"><img src="{% static 'img/trash-empty.png' %}" alt="trash-empty" style="width: 58px"/></button>
                </form>
            </div>
    </div>
    <hr class="line-basket-item" />
    {% endfor %}
</div>
<div class="basket-otders-block">
    <div><p class="text-basket-orders">Сумма заказа</p>
        <p class="price" style="font-size: 24px; justify-content: flex-start;">&#8381 {{ basket.0.total_cost }}</p>
    </div>
    <div class="button-basket-orders">
        <a href="{% url 'ordersapp:order_create' %}" style="text-decoration: none; color: #ffffff;">
            Заказать</a>
    </div>
</div>
{% else %}
<div style="width: 100%; display: flex; justify-content: center;"><img src="{% static 'img/cart-empty.png' %}"></div>
{% endif %}