{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    <div class="position-index-sign-in">
        {% include 'mainapp/includes/inc_sing_in.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="info-contact-position">
        <h2>Наши контакты:</h2>
        <ul>
            <li class="text-info-contact">Телефон: +7(927)-053-62-42</li>
            <li class="text-info-contact">Адрес магазина: 413090, Саратовская область, г. Маркс, ул. Бебеля, д.&nbsp;58</li>
            <li class="text-info-contact">E-mail: frost2015s@yandex.ru</li>
        </ul>
    </div>
    <br>
{% endblock %}