{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    <div class="position-index-sign-in">
        {% include 'mainapp/includes/inc_sing_in.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="block-position-feeback-one">
     {% if sent %}
        <h1>Письмо отправленно!</h1>
     {% else %}
        <div class="block-position-feeback-two">
            <form method="POST" class="post-form"  action="#">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default btn-sm" style="border: 1px solid #d6cece; width: 108px; border-radius: 1px;">Отправить</button>
            </form>
        </div>
     {% endif %}
     </div>
{% endblock %}