{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block menu %}
    <div class="position-index-sign-in">
        {% include 'mainapp/includes/inc_sing_in.html' %}
    </div>
{% endblock %}

{% block content %}
<div class="category-name-product-list">{{ category.name }}</div>
<div class="block-products" style="margin-top: 0;">
    <div class="block-links-menu">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>
    <div class="products-conteiner" style="height: 700px; overflow-y: auto;">
        <div class="set-products-save">
            {% for product in products %}
            <div class="product-conteiner-one">
                <div class="img-products-conteiner>">
                    <a href="{% url 'products:product' product.pk %}"><img src="/media/{{ product.image }}" alt="{{ product.short_desc }}"
                                     class="img-product-index">
                    </a>
                    <h3 class="product-name-index">{{ product.name }}</h3>
                </div>
                <div class="text-products-conteiner">
                    <div>
                        <div class="p-index-poduct-desc">{{ product.short_desc }}</div>

                    </div>
                    <div class="price">
                        <div>
                            <div class="product-price">&#8381 {{ product.price }}</div>
                        </div>
                        <div class="button-index-basket-position">
                            <form action="{% url 'basket:add' product.pk %}" method="post" style="form-basket-add">
                                {% csrf_token %}
                                <div class="quantity-block">
                                      <button type="button" class="quantity-arrow-minus" style="outline: none;"> - </button>
                                      <input  name="name" class="quantity-num" type="number" value="0">
                                      <button type="button" class="quantity-arrow-plus" style="outline: none;"> + </button>
                                </div>
                                <input type="submit" onclick="goBack()" value="В корзину"  class="submit-input-basket">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}
