{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
<div class="header">
    <a href="{% url 'main' %}"><img src="{% static 'img/logo.jpg' %}" class="logo"></a>
    <div class="info-contact-position">
        <h4 style="font-size: 15px;">Контакты:</h4>
        <ul class="position-contact">
            <li class="text-info-contact">Тел.: +7(927)-053-62-42</li>
            <li class="text-info-contact">Адрес: 413090, Саратовская область, г. Маркс, ул. Бебеля,
                д.&nbsp;58
            </li>
            <li class="text-info-contact">Email: frost2015s@yandex.ru</li>
        </ul>
    </div>
    <div class="position-index-sign-in-and-menu">
        <div class="position-basket-and-user">
            <div style="width: 150px;">
                <h4 style="font-size: 15px;">Режим работы:</h4>
                <ul class="position-contact">
                    <li class="text-info-contact">Пн.- Пт.: с 08:00 до 17:00</li>
                    <li class="text-info-contact">Сб.: с 08:00 до 14:00</li>
                    <li class="text-info-contact">Вс.: с 08:00 до 12:00</li>
                </ul>
            </div>
            <div class="position-index-sign-in">
                {% include 'mainapp/includes/inc_sing_in.html' %}
            </div>
        </div>
        <div>{% include 'mainapp/includes/inc_menu.html' %}</div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="block-products">
    <div class="block-links-menu">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>
    <div class="products-conteiner" style="flex-direction: column">
<div style=" display: flex;">
    <div class="details-products">
      <div class="details-slider">
        <div class="slider-product">
          <img src="/media/{{ product.image }}" 
               alt="{{ product.short_desc }}" style="width: 400px;">
        </div>
        </div>
      </div>

      <div class="description">
        <h3 class="big-bold">{{ product.name }}</h3>
        <br>
        <p class="price"> {{ product.price }} <span>руб</span></p>
        {% if user.is_authenticated %}
                            <a href="{% url 'basket:add' product.pk %}" class="button-basket-index">В корзину</a>
                            {% else %}
                            <a href="{% url 'auth:login' %}" class="button-basket-index">В корзину</a>
                            {% endif %}
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <div class="description-text">
          {{ product.description }}
        </div>
      </div>
    </div>

        <div style="margin-top: 30px;">Похожие товары</div>
        <div class="scroll-similar-products" id="yourDiv">
        {% for same_product in same_products %}
            <div class="product-conteiner-one">
                <div class="img-products-conteiner>">
                    <a href="{% url 'products:product' same_product.pk %}">
                        <img src="/media/{{ same_product.image }}" alt="{{ same_product.short_desc }}" class="img-product-index"></a>
                </div>
                <div class="text-products-conteiner">
                    <div>
                        <h3 class="product-name-index">{{ same_product.name }}</h3>
                        <div class="p-index-poduct-desc">{{ same_product.short_desc }}</div>
                    </div>
                    <div class="price">
                        <div>
                            <div class="product-price">&#8381 {{ same_product.price }}</div>
                        </div>
                        <div class="button-index-basket-position">
                            {% if user.is_authenticated %}
                            <a href="{% url 'basket:add' same_product.pk %}" class="button-basket-index">В корзину</a>
                            {% else %}
                            <a href="{% url 'auth:login' %}" class="button-basket-index">В корзину</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
    </div>
  </div>


  <div class="clr"></div>
{% endblock %}