{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block menu %}
    <div class="position-index-sign-in">
        {% include 'mainapp/includes/inc_sing_in.html' %}
    </div>
{% endblock %}

{% block content %}
<div class="block-products">
    <div class="block-links-menu">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>
    <div class="products-conteiner" style="flex-direction: column;">
<div style=" display: flex; justify-content: space-around;">
    <div class="details-products">
      <div class="details-slider">
        <div class="slider-product">
          <img src="/media/{{ product.image }}" 
               alt="{{ product.short_desc }}" style="width: 400px;">
        </div>
        </div>
      </div>

      <div class="description">
          <table style="width: 400px;">
              <tr>
                  <td style="height: 60px;"><h3 class="big-bold">{{ product.name }}</h3></td>
              </tr>
              <tr>
                  <td class="style-td-basket-add-product"><p class="p-product-price">&#8381 {{ product.price }}</p>
                      <div class="quantity-block">
                            <button type="button" class="quantity-arrow-minus" style="outline: none;"> -</button>
                            <input name="{{ product.pk }}" class="quantity-num" type="number"
                                   value="0">
                            <button type="button" class="quantity-arrow-plus" style="outline: none; margin-right: 30px;"> +</button>
                            {% if user.is_anonymous %}
                                <a href="{% url 'auth:login' %}"><input type="submit" value="В корзину"
                                                                        class="submit-input-basket"></a>
                            {% else %}
                                <input type="button" value="В корзину" class="submit-input-basket">
                            {% endif %}
                      </div>
                  </td>

              </tr>
              <tr>
                  <td style="height: 60px;">{{ product.description }}</td>
              </tr>
          </table>
      </div>
    <input type="button" onclick="history.back();" value="Назад" style="width: 60px; padding-left: 0; height: 27px;">
    </div>

        <div style="margin-top: 30px; margin-left: 30px;">Похожие товары >>></div>
        <div class="scroll-similar-products">
        {% for same_product in same_products %}
            <div class="product-conteiner-one">
                <div class="img-products-conteiner>">
                    <a href="{% url 'products:product' same_product.pk %}">
                        <img src="/media/{{ same_product.image }}" alt="{{ same_product.short_desc }}" class="img-product-index"></a>
                </div>
                <div class="text-products-conteiner">
                    <div>
                        <h3 class="product-name-index">{{ same_product.name }}</h3>
                        <div class="p-index-poduct-desc">{{ same_product.short_desc }}</div>
                    </div>
                    <div class="price">
                        <div>
                            <div class="product-price">&#8381 {{ same_product.price }}</div>
                        </div>
                        <div class="button-index-basket-position">
                            <div class="quantity-block">
                                    <button type="button" class="quantity-arrow-minus" style="outline: none;"> -</button>
                                    <input name="{{ product.pk }}" class="quantity-num" type="number"
                                           value="{{ product.quantity }}">
                                    <button type="button" class="quantity-arrow-plus" style="outline: none;"> +</button>
                                    {% if user.is_anonymous %}
                                        <a href="{% url 'auth:login' %}"><input type="submit" value="В корзину"
                                                                                class="submit-input-basket"></a>
                                    {% else %}
                                        <input type="button" value="В корзину" class="submit-input-basket">
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
    </div>
  </div>


  <div class="clr"></div>
{% endblock %}